@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3.92% 3.92% 3.92%);
  color: rgb(78.04% 78.04% 78.04%);
}

@layer components {
  .max-container {
    @apply py-5 max-w-[1440px] mx-auto;
  }

  .hover-opactity {
    @apply hover:opacity-50 duration-500 ease-linear cursor-pointer;
  }
}
